<optimizer-page/>

<layout-use template="./layout.marko">

    <layout-put into="title">Home page</layout-put>

    <layout-put into="body">

        <!-- Comment next line -->
        We're young.

        <div class="content">
            You and me are friends and
            coworkers.
        </div>

    </layout-put>

</layout-use>